/* Reset de estilos */
* {
    margin: 0; /* Define a margem como 0 */
    padding: 0; /* Define o preenchimento como 0 */
    box-sizing: border-box; /* Inclui a borda e o preenchimento na largura e altura do elemento */
}

/* Fonte */
body, h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Bahnschrift Light', sans-serif; /* Define a fonte para todos os elementos especificados */
}

/* Estilos gerais do corpo da página */
body {
    background-color: rgb(11, 11, 11); /* Define a cor de fundo do corpo da página */
    color: #ffffff; /* Define a cor do texto */
}

/* Estilos do cabeçalho (header) */
header {
    background-color: #003881;
    color: rgb(255, 255, 255); /* Define a cor do texto */
    padding: 1rem; /* Adiciona preenchimento interno */
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: space-between; /* Alinha os itens à direita e à esquerda */
    align-items: center; /* Alinha os itens verticalmente */
    margin-bottom: 0.4cm; /* Adiciona margem na parte inferior */
}

/* Estilos do logo */
.logo h1 {
    font-size: 1.6rem; /* Define o tamanho da fonte */
    margin: 0; /* Remove a margem */
    font-family: Arial, Helvetica, sans-serif;
}

.logo p {
    font-size: 1.0rem; /* Define o tamanho da fonte */
    margin:0rem; /* Remove a margem */
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilo da imagem Lua*/
.lua {
    margin-right: 95px;
    margin-top: 10px;

}
/* Estilos da navegação (nav) */
nav ul {
    list-style: none; /* Remove os marcadores de lista */
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: flex-start; /* Alinha os itens à esquerda */
}

nav a {
    text-decoration: none; /* Remove a decoração do link */
    color: #ffffff; /* Define a cor do texto */
    margin: 0 1rem; /* Adiciona margem aos links */
    padding: 0.5rem; /* Adiciona preenchimento interno aos links */
    border-radius: 5px; /* Adiciona borda arredondada */
    transition: background-color 0.2s ease-in-out; /* Adiciona uma transição suave */
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.171); /* Altera a cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho do elemento */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}


/* Estilos do nome e subtitulo na direita */
.header-content {
    display: flex; /* Usa o modelo de layout flexível */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: flex-end; /* Alinha os itens à direita */
}

/* Estilos do botão da lâmpada */
#modo-claro-escuro {
    margin-top: 5px; /* Adiciona margem superior */
}

/* Estilos das seções principais (main-section) */
.main-section {
    display: flex; /* Usa o modelo de layout flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha conforme necessário */
    justify-content: space-around; /* Distribui os itens uniformemente */
    width: 30%; /* Define a largura das seções */
    margin-bottom: 25px; /* Adiciona margem na parte inferior */
}

/* Estilos do título de cada seção */
section h2 {
    color: #ffffff; /* Define a cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    position: relative; /* Define a posição relativa */
    margin-bottom: 1rem; /* Adiciona margem na parte inferior */
}

/* Linha abaixo do título */
section h2:before {
    content: ''; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição absoluta */
    width: 100%; /* Define a largura como 100% */
    height: 4px; /* Define a altura */
    background-color: #ff0000; /* Define a cor do fundo */
    bottom: -5px; /* Posiciona abaixo do título */
    left: 0; /* Alinha à esquerda */
}

/* Estilos do texto nas seções */
section p {
    line-height: 1.6; /* Define a altura da linha */
}

/* Estilos da lista de itens */
ul {
    list-style: none; /* Remove os marcadores de lista */
}

ul li {
    margin-bottom: 0.5rem; /* Adiciona margem na parte inferior */
}

/* Estilos do rodapé */
footer {
    background-color: #000000; /* Define a cor de fundo */
    color: #fff; /* Define a cor do texto */
    padding: 1rem; /* Adiciona preenchimento */
    text-align: center; /* Alinha o texto ao centro */
    position: fixed; /* Fixa o rodapé na parte inferior */
    bottom: 0; /* Alinha na parte inferior */
    width: 100%; /* Define a largura como 100% */
}

/* Estilos para a animação de rotação */
@keyframes hammerAnimation {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}

/* Estilos para a animação de rotação */
#em-breve-animation i {
    font-size: 2rem; /* Define o tamanho da fonte */
    margin-right: 1rem; /* Adiciona margem à direita */
    animation: hammerAnimation 1s infinite; /* Aplica a animação */
}

/* Estilos para a animação de escala nos quadrados cinza */
.hovered {
    transform: scale(1.01); /* Aplica a escala */
}

/* Estilos para a transição suave ao clicar nas opções do menu */
html {
    scroll-behavior: smooth; /* Adiciona uma transição suave ao rolar */
}

/* Estilos para a posição do relógio */
#relogio {
    position: absolute; /* Define a posição absoluta */
    top: 20px; /* Define a distância do topo */
    right: 55px; /* Define a distância da direita */
    font-size: 20px; /* Define o tamanho da fonte */
    color: #ffffff; /* Define a cor do texto */
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para o modo claro e escuro */
body {
    transition:

 background-color 0.6s ease, color 0.6s ease; /* Adiciona uma transição suave */
}

body.modo-escuro {
    background-color: #c9c6c6; /* Define a cor de fundo para o modo escuro */
    color: #ffffff; /* Define a cor do texto para o modo escuro */
}

#modo-claro-escuro {
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

/* Estilos para os itens de navegação */
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0); /* Altera a cor de fundo ao passar o mouse */
}

.nav-item {
    padding: 8px; /* Adiciona preenchimento */
    margin: 5px; /* Adiciona margem */
    display: inline-block; /* Exibe os itens em linha */
    cursor: pointer; /* Altera o cursor para um ponteiro */
    transition: background-color 0.1s ease; /* Adiciona uma transição suave */
    text-decoration: none; /* Remove a decoração do texto */
    color: #ffffff; /* Define a cor do texto */
}

/* Zoom botôes superiores */
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0); /* Altera a cor de fundo ao passar o mouse */
    transform: scale(1.3); /* Aplica a escala */
}

/* Estilos das seções principais (main-section) */
.main-section {
    display: flex; /* Usa o modelo de layout flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha conforme necessário */
    justify-content: space-around; /* Distribui os itens uniformemente */
    width: 30%; /* Define a largura das seções */
    margin-bottom: 25px; /* Adiciona margem na parte inferior */
}

/* Estilos do título de cada seção */
section h2 {
    color: #09ff00; /* Define a cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    position: relative; /* Define a posição relativa */
    margin-bottom: 1rem; /* Adiciona margem na parte inferior */
}

/* Linha abaixo do título */
section h2:before {
    content: ''; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição absoluta */
    width: 100%; /* Define a largura como 100% */
    height: 4px; /* Define a altura */
    background-color: #1e1e1e; /* Define a cor do fundo */
    bottom: -5px; /* Posiciona abaixo do título */
    left: 0; /* Alinha à esquerda */
}

/* Estilos do texto nas seções */
section p {
    line-height: 1.6; /* Define a altura da linha */
}

/* Estilos das seções principais (main-section) */
.main-section {
    display: flex; /* Usa o modelo de layout flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha conforme necessário */
    justify-content: space-around; /* Distribui os itens uniformemente */
    width: 30%; /* Define a largura das seções */
    margin-bottom: 25px; /* Adiciona margem na parte inferior */
}

/* Estilos do título de cada seção */
section h2 {
    color: #ff002b; /* Define a cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    position: relative; /* Define a posição relativa */
    margin-bottom: 1rem; /* Adiciona margem na parte inferior */
}

/* Linha abaixo do título */
section h2:before {
    content: ''; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição absoluta */
    width: 100%; /* Define a largura como 100% */
    height: 4px; /* Define a altura */
    background-color: #1e1e1e; /* Define a cor do fundo */
    bottom: -5px; /* Posiciona abaixo do título */
    left: 0; /* Alinha à esquerda */
}

/* Estilos do texto nas seções */
section p a {
    color: #0044ff; /* Cor vermelha para links nas seções */
}

/* Estilos das seções principais (main-section) */
.main-section {
    display: flex; /* Usa o modelo de layout flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha conforme necessário */
    justify-content: space-around; /* Distribui os itens uniformemente */
    width: 30%; /* Define a largura das seções */
    margin-bottom: 25px; /* Adiciona margem na parte inferior */
}

/* Estilos do título de cada seção */
section h2 {
    color: #0044ff; /* Define a cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    position: relative; /* Define a posição relativa */
    margin-bottom: 1rem; /* Adiciona margem na parte inferior */
}

/* Linha abaixo do título */
section h2:before {
    content: ''; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição absoluta */
    width: 100%; /* Define a largura como 100% */
    height: 4px; /* Define a altura */
    background-color: #1e1e1e; /* Define a cor do fundo */
    bottom: -5px; /* Posiciona abaixo do título */
    left: 0; /* Alinha à esquerda */
}

/* Estilos do texto nas seções */
section p {
    line-height: 1.6; /* Define a altura da linha */
}

/* Estilos da lista de itens */
ul {
    list-style: none; /* Remove os marcadores de lista */
}

/* Estilos dos itens da lista de habilidades */
ul li {
    margin-bottom: 0.5rem; /* Adiciona margem na parte inferior */
    position: relative; /* Define a posição relativa */
    padding-left: 20px; /* Adiciona preenchimento à esquerda */
}

/* Adiciona bolinha vermelha ao lado esquerdo dos itens da lista */
ul li::before {
    content: ''; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição absoluta */
    width: 10px; /* Define a largura */
    height: 10px; /* Define a altura */
    background-color: #0044ff; /* Define a cor de fundo */
    border-radius: 50%; /* Adiciona borda arredondada */
    left: 0; /* Alinha à esquerda */
    top: 50%; /* Posiciona no meio verticalmente */
    transform: translateY(-50%);

 /* Move para cima metade da altura */
    margin-right: 10px; /* Adiciona margem à direita */
}

/* Estilos dos quadrados cinza com efeito de zoom e hover */
.content {
    padding: 4rem; /* Adiciona preenchimento */
    background-color: #1b1b1b; /* Define a cor de fundo */
    border-radius: 25px; /* Adiciona borda arredondada */
    box-shadow: 0px 2px 10px rgb(0, 0, 0); /* Adiciona sombra */
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.25, 1); /* Adiciona uma transição suave */
    margin-left: 0.4cm; /* Adiciona margem à esquerda */
    width: 100%; /* Define a largura como 100% */
    box-sizing: border-box; /* Inclui a borda e o preenchimento na largura e altura do elemento */
    position: relative; /* Adicionando posição relativa */
    transform-origin: center; /* Define o ponto de transformação no centro */
    transform: scale(0.95); /* Define a escala inicial */
}

/* Quando o mouse está sobre o elemento, aplicamos a escala */
.content:hover {
    transform: scale(1.05); /* Aplica a escala */
}